<table class="table table-hover">
   <caption style="font-size:30px">Books On Fiction</caption>
   <thead>
      <tr>
         <th>Language</th>
         <th>Total Stock</th>
         <th>Number Of Authors</th>
         <th>New Arrivals</th>
       
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>English</td>
         <td>200</td>
         <td>20</td>
         <td>10</td>
        
      </tr>
      <tr>
         <td>French</td>
         <td>50</td>
         <td>20</td>
         <td>5</td>
      </tr>
      <tr>
         <td>Hindi</td>
         <td>75</td>
         <td>10</td>
         <td>2</td>
      </tr>
    
   </tbody>
</table>