<div class="collection">
    
	<div class="fiction" >
		<a ui-sref=".fiction({id:1})">FICTION</a>
	</div>
	<div class="non-fiction">
		<a ui-sref=".non-fiction">NON-FICTION</a>
	</div>
	<div class="languages">
		<a ui-sref=".languages">LANGUAGES</a>
	</div>
	<div class="magazines">
		<a ui-sref=".magazines">MAGAZINES</a>
	</div>
   
    
	<div class="newspapers">
		<a ui-sref=".newspapers">NEWSPAPERS</a>
	</div>
	<div class="curriculum">
		<a ui-sref=".curriculum({id:1})">CURRICULUM</a>
	</div>
	<div class="journals">
		<a ui-sref=".journals">JOURNALS</a>
	</div>
	<div class="general-knowledge">
		<a ui-sref=".gk">GENERAL-KNOWLEDGE</a>
	</div> 
    
</div>
	<div  class="display-details" ui-view></div>