<div class="staff"> 
<table class="table table-hover">
   <caption style="font-size:30px;text-align:center">Staff</caption>
 
   <thead>
      <tr>
         <th>Subject</th>
         <th>Total Staff</th>
      </tr>
   </thead>
   <tbody>
     <tr>
         <td>English</td>
         <td>7</td>
     </tr>
        
     <tr>
         <td>French</td>
         <td>5</td>
     </tr>    
     
     <tr>
         <td>Hindi</td>
         <td>7</td>
     </tr>    
      
     <tr>
         <td>Mathematics</td>
         <td>10</td>
     </tr>

     <tr>
         <td>Science</td>
         <td>5</td>
     </tr>
      
    
   </tbody>
</table>
</div>